canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}
body  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(25,172,96);
    color: white;
    background: radial-gradient(circle, rgba(25,172,96,1) 0%, rgba(62,136,172,1) 87%);
}
.center{
    text-align: center;
}
.kaart {
    background: rgb(0,0,0);
    background: linear-gradient(8deg, rgba(0,0,0,1) 0%, rgba(9,118,31,1) 0%, rgba(9,125,36,1) 0%, rgba(57,124,66,1) 0%, rgba(9,124,36,1) 31%, rgba(6,164,19,1) 65%, rgba(0,255,184,1) 100%);
}
.btn{
    color: black;
    background: rgb(0,0,0);
    background: linear-gradient(8deg, rgba(0,0,0,1) 0%, rgba(9,118,31,1) 0%, rgba(9,125,36,1) 0%, rgba(9,124,36,1) 0%, rgba(9,117,121,1) 0%, rgba(6,164,142,1) 46%, rgba(0,255,184,1) 100%);
}
.red-color{
    color: red;
}
.green-color{
    color: lime;
}
.hide {
    max-height: 0 !important;
}

.dropdown{
    border: 0.1em solid black;
    width: 10em;
    margin-bottom: 1em;
}

.dropdown .title{
    margin: .3em .3em .3em .3em;
    width: 100%;
}

.dropdown .title .fa-angle-right{
    float: right;
    margin-right: .7em;
    transition: transform .3s;
}

.dropdown .menu{
    transition: max-height .5s ease-out;
    max-height: 20em;
    overflow: hidden;
}

.dropdown .menu .option{
    margin: .3em .3em .3em .3em;
    margin-top: 0.3em;
}

.dropdown .menu .option:hover{
    background: rgba(0,0,0,0.2);
}

.pointerCursor:hover{
    cursor: pointer;
}

.rotate-90{
    transform: rotate(90deg);
}